/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 10, 2018, 8:15:12 AM
    Author     : ReedS
*/

.banner {
    width: 100%;
    height: 225px;
    padding:0;
    margin:0;
}

.result{
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #37a69b;
}


/* Login Form */

html { height: 100% }
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

body {     
    padding:0;
    margin:0;
}

header {
    padding:0;
    margin:0;
}

.adminweather{
    background: #eceeee;
    border: 2px solid #42464b;
    border-radius: 6px;
    height: 660px;
    margin: 20px auto 0;
    width: 298px;
}

.adminupdatepass{
    background: #eceeee;
    border: 2px solid #42464b;
    border-radius: 6px;
    height: 180px;
    margin: 20px auto 0;
    width: 298px;
}

.locations{
    background: #eceeee;
    border: 2px solid #42464b;
    border-radius: 6px;
    height: 80px;
    margin: 20px auto 0;
    width: 298px;
}

.addlocation{
    background: #eceeee;
    border: 2px solid #42464b;
    border-radius: 6px;
    height: 300px;
    margin: 20px auto 0;
    width: 298px;
}

.forgotpassword{
  background: #eceeee;
  border: 2px solid #42464b;
  border-radius: 6px;
  height: 180px;
  margin: 20px auto 0;
  width: 298px;
}

.login {
  background: #eceeee;
  border: 2px solid #42464b;
  border-radius: 6px;
  height: 260px;
  margin: 20px auto 0;
  width: 298px;
}

.updatepass{
  background: #eceeee;
  border: 2px solid #42464b;
  border-radius: 6px;
  height: 180px;
  margin: 20px auto 0;
  width: 298px;
}

.createaccount{
  background: #eceeee;
  border: 2px solid #42464b;
  border-radius: 6px;
  height: 440px;
  margin: 20px auto 0;
  width: 298px;
}

.login .createaccount .forgotpassword .updatepass .addlocation .locations h1 {
  background-image: linear-gradient(top, #f1f3f3, #d4dae0);
  border-bottom: 1px solid #a6abaf;
  border-radius: 6px 6px 0 0;
  box-sizing: border-box;
  color: #727678;
  display: block;
  height: 43px;
  font: 600 14px/1 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2), 0 1px 0 #fff;
}

.adminupdatepass .adminweather h1 {
  background-image: linear-gradient(top, #f1f3f3, #d4dae0);
  border-bottom: 1px solid #a6abaf;
  border-radius: 6px 6px 0 0;
  box-sizing: border-box;
  color: #727678;
  display: inline;
  height: 43px;
  font: 600 14px/1 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2), 0 1px 0 #fff;
}

input[type="password"], input[type="text"] {
  border: 1px solid #a1a3a3;
  border-radius: 4px;
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  color: #696969;
  height: 39px;
  margin: 31px 0 0 29px;
  padding-left: 37px;
  transition: box-shadow 0.3s;
  width: 240px;
}
input[type="password"]:focus, input[type="text"]:focus {
  box-shadow: 0 0 4px 1px rgba(55, 166, 155, 0.3);
  outline: 0;
}
.show-password {
  display: block;
  height: 16px;
  margin: 26px 0 0 28px;
  width: 87px;
}
input[type="checkbox"] {
  cursor: pointer;
  height: 16px;
  opacity: 0;
  position: relative;
  width: 64px;
}
input[type="checkbox"]:checked {
  left: 29px;
  width: 58px;
}
.toggle {
  display: block;
  height: 16px;
  margin-top: -20px;
  width: 87px;
  z-index: -1;
}
input[type="checkbox"]:checked + .toggle { background-position: 0 -16px }
.accountoption {
  color: #7f7f7f;
  display: inline-block;
  float: right;
  font: 12px/1 sans-serif;
  left: -19px;
  position: relative;
  text-decoration: none;
  top: 5px;
  transition: color .4s;
}
.accountoption:hover { color: #3b3b3b }
input[type="submit"] {
  width:240px;
  height:35px;
  display:block;
  font-family:Arial, "Helvetica", sans-serif;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-decoration:none;
  text-transform:uppercase;
  text-align:center;
  text-shadow:1px 1px 0px #37a69b;
  padding-top:6px;
  margin: 29px 0 0 29px;
  position:relative;
  cursor:pointer;
  border: none;  
  background-color: #37a69b;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius:5px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78, 0px 10px 5px #999;
}

input[type="submit"]:active {
  top:3px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #31524d, 0px 5px 3px #999;
}